.bonus-inner{
    background: #7e1cb8;
    height: 50px;
    color: white;
    overflow-y: hidden;
    width: 100%;
}
.bonus-inner a{
    color: white;
    text-decoration: none;
    
}
.promotion-outer{
    height: 40px;
    background: #7e1cb8;
    
}
.promotion-outer a{
    color: white;
    text-decoration: none;
}
.recharge-record-icon{
    position: absolute;
    right: 30px;
}
.withdrawl-record-icon{
    position: absolute;
    right: 30px;
}