.color-btn{
    background: linear-gradient(#0d6efd, #dc3545);
    color: white;

}
.color-btn2{
    background: linear-gradient(#0d6efd, #198754);
    color: white;
}
.split0{
    background-image: linear-gradient(160deg, rgb(13,110, 253) 50%, rgb(227, 54, 42) 50%);
    color: white;
}
.split1{
    background-image: linear-gradient(160deg, rgb(13,110, 253) 50%, rgba(25, 135, 84, 1) 50%);
    color: white;
}
.disable-bg{
    background-color: rgb(209, 206, 206);
}