.ts{
    height: 150px;
    background: #FF4433 ;
    color: white;
    
}


.wc1{
    padding-top: 10px !important;
    width: 23%;
    height: 100px;
    background: white;
    margin: 0px 10px;
    border-radius: 2px;
    color: black;
    padding: 8px;
    overflow-y: hidden;
   
    
}
.wc2{
    width: 23%;
    height: 100px;
    background: white;
    color:#7e1cb8;
    margin: 0px 10px;
    border-radius: 2px;
    padding: 8px;
    overflow-y: hidden;
    
}
.recharge .btn:hover{
    color: black;
    

}
.rule .btn:hover{
    color: black;
   
}
.iconp{
    position: absolute;
    right: 15px;   
    
}
.btn-orange{
    background: #FF4433 ;
    color: white;

}
